header {
    width: 100%;
    height: 70px;
    background-color: #221e53;
    nav {
        height: 100%;
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            align-content: center;
            height: 100%;
            padding: 4%;
            li {
                .logo {
                    img {
                    }
                }
                .menu {
                    img {
                    }
                }
            }
        }
    }
}
