#pink {
    background-image: url(/mobile/img/bkg-pink.png);
    background-size: contain;
    width: 100%;
    height: 655px;
    position: relative;
    .pod-img {
        height: 274px;
        max-width: 289px;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .tit-pod {
        position: absolute;
        z-index: 1;
        left: 23px;
        top: 28px;
        p {
            color: #fff;
            padding-top: 12px;
            font-family: $font-italic;
            font-weight: 400;
            font-size: 18px;
        }
    }
    .listen {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
            display: inline-block;
            width: 280px;
            font-family: $font-medium;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            margin-top: 36px;
            margin-left: 20px;
            line-height: 21px;
        }
    }

    .slider {
        padding-top: 290px;
        div {
            img {
                height: 106px;
            }
        }
    }
    .bottom-title {
        width: 90%;
        margin-top: 59px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .socials {
        width: 70%;
        margin:0 auto;
        padding-top: 50px;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            list-style-type: none;
            li {
                a {
                    img {
                    }
                }
            }
        }
    }
}
