#hero{
    width: 100%;
    height: 205px;
    background-image: url(/mobile/img/signup_bkg.png);
    background-size: cover;
    img{
        margin:  auto;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-left: auto;
        padding-top: 16%;

    }
}
.tabs{
    width: 100%;
    display: flex;
    flex-direction: row;
    img{
        height: 56px;
    }
}

.form{
    background-image: url(/mobile/img/signup-form-bkg.png);
    height:874px;
    background-size: cover;
    margin-top: 0;
    width: 100%;
    .upload{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 40px;
        img{
           
        }
        p{
            font-family: $font-medium;
            font-size: 12px;
            color: #fff;
            padding-top: 10px;
        }
    }
    .form-details{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h2{
            font-family: $font-medium;
            font-size: 16px;
            padding-top: 90px;
            color: #fff;
            padding-bottom: 20px;
        }
        
        
    label{
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        font-size: 12px;
        padding-top:12px;
     
    }
    input[type="text"]{
        border-color: #ffd;
        padding:10px 70px;
        color: #088CCC, 100%;
        text-align: left;
      
    }
    p{
        font-family: $font-medium;
        font-size: 10px;
        padding-top: 15px;
        color: #fff;
    }
}
}