$font-italic: 'Azo Sans Lt', sans-serif;
$font-black:'Azo Sans Bk', sans-serif;
$font-medium:'Azo Sans Md', sans-serif;




@font-face {
    font-family: 'Azo Sans Lt';
    src: url(/mobile/font/AzoSans-LightItalic.woff);
}
@font-face {
    font-family:'Azo Sans Md';
    src: url(/mobile/font/AzoSans-Medium.woff);
}
@font-face {
    font-family: 'Azo Sans Bk';
    src: url(/mobile/font/AzoSans-Black.woff);
}