#yellow {
    width: 100%;
    height: 348px;
    background-image: url(/mobile/img/bckg-yellow.png);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 0;
    background-color: #FDBD13;
    .main-btn {
        display: inline-block;
        margin: 0 auto;
        position: absolute;
        margin-top: 88px;
        left: 20%;
        width: 227px;
        a {
            width: 227px;
        }
    }
}
